@charset "UTF-8";

// Paleta de cores
$amarelo:	#e3e667;
$marrom:	#3e2d14;
$roxo:		#585495;
$oliva:		#49947A;
$rosa:		#BD548B;
$caramelo:	#929521;
$bege:		#D6BC69;

@import "reset";
@import "tipografia";

//
// GERAL
//
$sideNavWidth: 180px;

.slide {
	margin: 2.2em 0;
	margin-bottom: 5em;

	h1:first-child {
		padding-top: 0.4em;
	}
}

body {
	background: $amarelo;
	padding-bottom: 5em;
}
//#inicio{}
	h1 small{color: $oliva}

	strong {
		color: $rosa;
		font-weight: bold;
	}


//#show{}
	button{

		height:auto;
		padding: 10px 0;
		color:#fff;
		font-size:1.2em;
		text-align:center;
		border-radius:4px;
		border:1px solid $oliva;
		box-shadow: inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
		background-image: linear-gradient(to bottom, $caramelo, $oliva 130%);
		width: 96%;
	}

//#letras{}
	// firula das letras e ficha tecnica
	@import "acordeon";

//#banda{}
	#contato{font-size: 1.5em}
	#contato span{color: $rosa }
	#site{font-size: 3em; color: $oliva}




#conteudo{
	min-height:100%; position:relative; z-index:1; background:$amarelo; padding:0 4px 5em;
	transition:0.4s cubic-bezier(0.335,0.815,0.470,1); width:98%;
	#bPlaylist:checked ~ &{ -webkit-transform:translatex($sideNavWidth); transform:translatex($sideNavWidth); border-radius:8px; }
	#bMenu:checked ~	 &{ -webkit-transform:translatex(-$sideNavWidth); transform:translatex(-$sideNavWidth); border-radius:8px; }	
}
	#bPlaylist:checked ~ .dir{ display: none;}



//@import url("240x320/estilo.css") all and (max-width: 320px);
//@import url("320x480/estilo.css") all and (min-width: 320px) and (max-width: 480px);
//@import url("480x640/estilo.css") all and (min-width: 480px) and (max-width: 640px);
//@import url("640x480/estilo.css") all and (min-width: 640px) and (max-width: 768px);
//@import url("768x1024/estilo.css") all and (min-width: 768px) and (max-width: 1024px);
//@import url("1024x768/estilo.css") all and (min-width: 1024px);


//
// RESPONSAVIDADE
//
@media screen and (max-width: 320px)
{
	#domitila,
	#facebook,
	#twitter {background: url('sprites-mobile.png') no-repeat;width: 48px;height: 48px;color: rgba(0,0,0,0); }

	#domitila {font-size: 44px}
	#twitter,
	#facebook{
		position: absolute;
	}
	#facebook {background-position: 0 -48px;}
	#twitter {background-position: 0 -96px;margin-left: 70px}

	#inicio h1{padding: 0}

	#tit-mobi {
		background: $amarelo;
		font-family: 'Data trash';
		font-size: 1.2em;
		height: 2em;
		line-height: 2em;
		margin: 0;
		position: fixed;
		text-align: center;
		width: 100%;
		z-index: 2;
		top: 0;
	}
	nav {display: none;}

	@import "menumobile";
}

@media screen and (min-width: 320px) and (max-width: 479px)
{
	#inicio {
		background: url('intro.320x480.jpg') no-repeat;
		iframe{margin-top: 4.5em}
	}

	aside p{display: none;}
	aside h1 {
		position: relative;
		right: 2.1em;
		transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
	}
}
@media screen and (min-width: 321px)
{
	#tit-mobi,
	.menu,
	.menuBtn {display: none;}

	#inicio small{color: $bege}

}
@media screen and (min-width: 479px)
{
	.slide{margin: 5em 0;}
	nav {
		position: fixed;
		background: $amarelo;
		width: 98%;
		z-index: 90;
		top: 0;
		h1 {margin: 0.2em}
		ul {float: right;margin-top: 1.5em;}
		li {
			display: inline;
			font-size: 1.2em;
			margin: 0.4em;
		}
	}
		li a.scroll{
			padding: 0.2em;
			&:hover {
				background: $marrom;
				color: $amarelo;
			}
		}
}

@media screen and (min-width: 479px) and (max-width: 639px)
{
	#inicio {
		background: url('intro.480x640.jpg') no-repeat;
	}
}

@media screen and (min-width: 639px)
{
	#inicio {
		background: url('intro.640x480.jpg') no-repeat;
	}
}